<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="David Barrell's portfolio">
    <meta name="author" content="David Barrell">

    <title>David Barrell</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Header -->
		<div id="header">
			<div class="inner name"><a href="#illustration">David Barrell</a></div>
			<div class="nav">
				<ul class="mobile-nav">
  				<li class="mobile-header"><a href="#about">About</a></li>
  				<li class="mobile-header"><a href="#resume">Résumé</a></li>
        </ul>
			</div>
		</div>


    <div id="illustration" class="container">
      <div class="row text-center">
        <div class="col-xs-12">
          Hi! I'm David, and I'm studying Software Engineering.<br /><br />
          This page is currently under construction, so while I make it look pretty,
          please have a look at my résumé below, or download a copy here.<br /><br />
          <a href="docs/david-barrell-resume.pdf"><i class="fa fa-3x fa-cloud-download"></i></a>
        </div>
      </div>
    </div>

    <!-- <div id="about" class="container">
      <div class="row text-center">
        <div class="col-xs-12">
          <img src="img/bike.png" width=400px>
      </div>
    </div>
  </div> -->

    <div id="resume" class="container">
      {{#each resumeSection}}
      <div class="resume-section">
        <div class="row text-left">
          <div class="col-md-6 col-xs-8 col-md-offset-3 col-xs-offset-2 section-title">
            <p>
              {{title}}
            </p>
          </div>
        </div>

        {{#each item}}
        <div class="section-content">
          <div class="row">
            <div class="col-md-3 col-xs-2 text-right">
              <img class="logo" src="{{logoUrl}}" alt="{{subtitle}} Logo">
            </div>
            <div class="col-md-3 col-xs-4 text-left titles">
              <p>
                <span class="degree">{{title}}</span><br />
                {{subtitle}}
              </p>
            </div>
            <div class="col-md-3 col-xs-4 text-right aux-info">
              <p>
                {{dates}}<br />
                {{location}}
              </p>
            </div>
          </div>
          {{#if info}}
          <div class="row info">
            <div class="col-md-6 col-xs-8 col-md-offset-3 col-xs-offset-2 text-left">
              {{#if info.text}}
              <p>
                {{{info.text}}}
              </p>
              {{/if}}
              {{#if info.tech}}
              <ul class="tech-list">
              {{#each info.tech}}
              <li>
                {{this}}
              </li>
              {{/each}}
              </ul>
              {{/if}}
            </div>
          </div>
          {{/if}}
        </div>
        {{/each}}
      </div>
      {{/each}}
    </div>

    <div id="footer">
      <div class="row">
        <div class="copyright">
          © David Barrell 2016
        </div>
        <div class="links">
          {{#each footerLink}}
            <a href="{{url}}">{{link}}</a>
            {{#unless @last}}
              //
            {{/unless}}
          {{/each}}
        </div>
      </div>
    </div>


    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/main.min.js" charset="utf-8"></script>
  </body>
</html>
